@function HSL($h, $s, $l) {
  @return unquote("hsl(#{$h}, #{$s}, #{$l})");
}

$headline_font_family: Tahoma,sans-serif;

.test-page {

    .test,   .test3  ,.test4,test5 {
	font-size: 2em;
	color: red;
	background-color: #f0c0c0;
    }

    h1 {
	font-family: $headline_font_family;
	font-size: 3em;
	color: HSL(0, 0%, 0%);
	background-color: white;
	margin: 0;
	padding: 0;
    }

    h2 {
	font-family: $headline_font_family;
	font-size: 2em;
	color: HSL(240, 100%, 50%);
	background-color: HSL(0, 100%, 100%);
	margin: 1em 10pt 30px;
	padding: 0;
    }

    p {
	margin-top: 1em;
	margin-bottom: 1em;
	padding-left: 0em;
	padding-right: 1em;
    }

    .highlighted {
	font-size: 1.2em;
	color: red;
	background-color: HSL(60, 100%, 50%);
    }

    a {
	font-weight: bold;
	color: HSL(240,100%,30%);
	text-decoration: none;
	background-color: rgb(0, 0%, 80%);
	&:hover {
	    background-color: white;
	    color: blue;
	}
    }

    .author {
	font-style: italic;
	font-size: 0.9em;
    }
}
