.test-page .test, .test-page .test3, .test-page .test4, .test-page test5 {
  font-size: 2em;
  color: #000060;
  background-color: #f0c0c0; }
.test-page h1 {
  font-family: Tahoma, sans-serif;
  font-size: 3em;
  color: black;
  background-color: white;
  margin: 0;
  padding: 0; }
.test-page h2 {
  font-family: Tahoma, sans-serif;
  font-size: 2em;
  color: #0000ff;
  background-color: white;
  margin: 1em 10pt 30px;
  padding: 0; }
.test-page p {
  margin-top: 1em;
  margin-bottom: 1em;
  padding-left: 0em;
  padding-right: 1em; }
.test-page .highlighted {
  font-size: 1.2em;
  color: red;
  background-color: yellow; }
.test-page a {
  font-weight: bold;
  color: #000080;
  text-decoration: none;
  background-color: gainsboro; }
  .test-page a:hover {
    background-color: white;
    color: blue; }
.test-page .author {
  font-style: italic;
  font-size: 0.9em; }
