$headline_font_family: Tahoma,sans-serif;

.test,   .test3  ,.test4,test5 {
    font-size: 2em;
    color: red;
    background-color: #f0c0c0;
}

.test-bad-property {
    font-size: 2em;
    background: linear-gradient(to bottom, #fffaf9, #fff8f7 20%, #fffaf9 50%, white 100%); 
}

h1 {
    font-family: $headline_font_family;
    font-size: 3em;
    color: hsl(0, 0%, 0%);
    background-color: white;
    margin: 0;
    padding: 0;
}

h2 {
    font-family: $headline_font_family;
    font-size: 2em;
    color: hsl(245, 90%, 50%);
    background-color: hsl(0, 100%, 100%);
    margin: 0.5em 1pt 1px;
    padding: 0;
}

h3 {
    font-family: $headline_font_family;
    font-size: 1.4em;
    color: hsl(266, 100%, 38%);
    background-color: hsl(0, 100%, 100%);
    margin: 0.6em 8.5pt -3.5px;
    padding: 0;
}

p {
    margin: 0 0;
    padding-left: 1em;
    padding-right: 1em;
    &+p { margin-top: 1em; margin-bottom: 1em;}
}

.highlighted {
    font-size: 1.2em;
    color: red;
    background-color: hsl(60, 100%, 50%);
}

a {
    font-weight: bold;
    color: hsl(240,100%,30%);
    text-decoration: none;
    background-color: hsl(238, 83%, 94%);
    &:hover {
	background-color: yellow;
	color: black;
    }
}

.author {
    font-style: italic;
    font-size: 0.9em;
}

.box {
    margin: 0.3em;
    padding: 0.2em;
    font-size: 2em;
    display: inline-block;
    border: 8pt solid rgb(36,78,99);
}
