.test, .test3, .test4, test5 {
  font-size: 2em;
  color: red;
  background-color: #f0c0c0; }

.test-bad-property {
  font-size: 2em;
  background: linear-gradient(to bottom, #fffaf9, #fff8f7 20%, #fffaf9 50%, white 100%); }

h1 {
  font-family: Tahoma, sans-serif;
  font-size: 3em;
  color: black;
  background-color: white;
  margin: 0;
  padding: 0; }

h2 {
  font-family: Tahoma, sans-serif;
  font-size: 2em;
  color: #200df2;
  background-color: white;
  margin: 0.6em 1pt 6px;
  padding: 0; }

h3 {
  font-family: Tahoma, sans-serif;
  font-size: 1.4em;
  color: #5400c2;
  background-color: white;
  margin: 0.6em 8.5pt -3.5px;
  padding: 0; }

p {
  margin: 0 0;
  padding-left: 1em;
  padding-right: 1em; }
  p + p {
    margin-top: 1em;
    margin-bottom: 1em; }

.highlighted {
  font-size: 1.2em;
  color: red;
  background-color: yellow; }

a {
  font-weight: bold;
  color: #000099;
  text-decoration: none;
  background-color: #e3e4fc; }
  a:hover {
    background-color: yellow;
    color: black; }

.author {
  font-style: italic;
  font-size: 0.9em; }

.box {
  margin: 0.3em;
  padding: 0.2em;
  font-size: 2em;
  display: inline-block;
  border: 8pt solid #244e63; }

.run-it-now {
  margin: 2em; }
  .run-it-now .label {
    font-size: 1.3em;
    margin-right: 0.7em;
    vertical-align: middle;
    font-weight: bold; }

button.style-adjuster {
  vertical-align: middle;
  padding: 0.5em 1em; }
  button.style-adjuster:hover {
    background-color: white; }
